body {
background-color: rgb(255, 65, 128);
}
header {
  text-align:center;
}
main {
  font-size: x-large;
  width: 75% ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  text-align: justify 
}

